* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabeçalho */

.imagem {
  flex: 0 0 200px;
  /* Largura fixa da imagem */
}

.as {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  cursor: pointer;
  font-size: 17px;
  
}

.as a:hover {
  color: #2f27c8;
}



.as a {
  margin-right: 20px;
  /* Espaço entre os links */
  text-decoration: none;
  color: black;
}

.imagem img {
  width: 57%;
  padding-top: 5px;
  padding-left: 2px;
}

.conteiner {
  display: flex;
  align-items: center;

  background-color: rgb(255, 255, 255);
}

hr {

  display: flex;
  padding-top: 30%;
}

.social {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 30%;
}

.social a {

  margin-left: 32%;
}

.btn50 input {
  background-color: #2f27c8;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 220%;
  height: 25px;
  margin-left: 500%;

}

.btn50 input:hover {
  background-color: #012f5b;
  width: 250%;
  height: 28px;
}

/* Corpo */

#foto4 {
  width: 115.9%;
  height: 280px;
}

#cor {
  background-color: rgb(237, 242, 255);
}

#texto1 {
  margin-top: 5px;
  margin-left: 10%;
  width: 500px;
  text-align: center;
  text-align: justify;
}

#texto9 {
  margin-left: 10%;
  width: 500px;
  text-align: center;
  text-align: justify;
}

#frequentes {
  text-align: center;
}

.image-with-text {
  clear: both;
}

.image-with-text img {
  padding-left: 5px;
  float: right;
  margin-left: 8px;
  /* espaço entre a imagem e o texto */
}






.container5 {
  position: relative;
  display: inline-block;
}

.btn {
  text-align: center;
  width: 250px;
  position: absolute;
  top: 25%;
  left: 56%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #5143b7;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  align-self: start;
  text-align: center;
  cursor: pointer;
}

.btn :hover {
  background-color: #06377b;
}



/* CARROSEL */
.carousel {
  position: relative;
  width: 100%;
  /* Ajuste o tamanho conforme necessário */
  height: 500px;
  /* Ajuste o tamanho conforme necessário */
  overflow: hidden;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.carousel img:not(:first-child) {
  transform: translateX(100%);
}

.carousel.animate img {
  transform: translateX(-100%);
}

.carousel-text {
  position: absolute;
  bottom: 5px;
  left: 20px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  right: 200px;
}

/* noticias */
table {

  width: 115.9%;
}
td{
  text-align: center;
}

h1{
  margin-left: -80px;
  padding: 3%;
}

#img1 {
  max-width: 100%;
  height: auto;
}
#img2 {
  max-width: 100%;
  height: auto;
}
#img3 {
  max-width: 100%;
  height: auto;
}

/* Rodapé */

footer {
  position: absolute;
  bottom: -310px;
  width: 115.9%;
  height: 220px;
  background-color: #06377b;
  display: flex;
  color: #ffffff;
}

.image-wrapper {
  display: inline-block;
  /* ou float: left; */
  padding-top: 10%;
  padding-left: 25%;
}



#imgA {
  width: 113px;
  border-radius: 5px;
}

#imgA2 {
  width: 100px;
  border-radius: 6px;
}

#imgA3 {
  width: 140px;
}

.image-wrapper .image-text2 {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: -70px;
  padding-left: 5%;

}

.image-wrapper .image-text {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: -90px;
  padding-left: 20%;
}