* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Cabeçalho */
  
  .imagem {
    flex: 0 0 200px;
    /* Largura fixa da imagem */
  }
  
  .as {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
    cursor: pointer;
    font-size: 17px;
  }
  
  .as a:hover {
    color: #2f27c8;
  }
  
  td{
    text-align: center;
    padding-left: 60px;
  }
  
  
  .as a {
    margin-right: 15px;
    /* Espaço entre os links */
    text-decoration: none;
    color: black;
  }
  
  .imagem img {
    width: 57%;
    padding-top: 5px;
    padding-left: 2px;
  }
  
  .conteiner {
    display: flex;
    align-items: center;
  
    background-color: rgb(255, 255, 255);
  }
  
  hr {
  
    display: flex;
    padding-top: 30%;
  }
  
  .social {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 30%;
  }
  
  .social a {
  
    margin-left: 32%;
  }
  
  .btn50 input {
    background-color: #2f27c8;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 220%;
    height: 25px;
    margin-left: 500%;
  
  }
  
  .btn50 input:hover {
    background-color: #012f5b;
    width: 250%;
    height: 28px;
  }
  
  /* Corpo */

  .container {
    position: relative;
    max-width: 400px;
    top: 150px;
    left: 150px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  #linkSenha{
    font: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  input[type="submit"] {
    background-color: #1352c8;
    color: #fff;
    position: relative;
    left: 35%;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  input[type="submit"]:hover {
    background-color: #2939b1;
  }

  

  
  /* Rodapé */
  
  footer {
    position: absolute;
    top: 700px;
    width: 100%;
    height: 220px;
    background-color: #06377b;
    display: flex;
    color: #ffffff;
  }
  
  .image-wrapper {
    display: inline-block;
    /* ou float: left; */
    padding-top: 10%;
    padding-left: 25%;
  }
  
  
  
  #imgA {
    width: 113px;
    border-radius: 5px;
  }
  
  #imgA2 {
    width: 100px;
    border-radius: 6px;
  }
  
  #imgA3 {
    width: 140px;
  }
  
  .image-wrapper .image-text2 {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: -80px;
    padding-left: 4%;
  
  }
  
  .image-wrapper .image-text {
    display: block;
    font-size: 19px;
    font-weight: bold;
    margin-top: -80px;
    padding-left: 20%;
  
  }